ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.rssFeed li {
  text-align: center;
  padding-top: 32px;
  margin-top: 24px;
}

li:hover {
  transform: scale(1.15);
  transition: 0.8s;
}

.rssFeed {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 24px;
  align-items: center;
  margin-bottom: 48px;
}
