.weatherContainer {
  padding: 8px;
  border-radius: 8px;
}

.weatherContainer div,
p {
  display: block;
  text-align: center;
  margin: 16 auto;
}

.weatherContainer img {
  display: block;
  margin: 0 auto;
  padding: 0;
}
