#root {
  min-width: 100vw;
  text-align: center;
  background: url("/bg.svg");
  background-size: cover;
}

.navContainer nav {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.navContainer li {
  list-style-type: none;
}

.navContainer ul {
  padding-left: 36px;
}

.appsBox {
  background-color: #00112280;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 60%;
  justify-content: space-evenly;
  text-align: center;
}

.navLinks {
  display: flex;
}

.navLinks li {
  padding-left: 48px;
}
